                body {
                    height: 300px;
                    width: auto;
                }
                
                .main-container {
                    height: 500px;
                    width: auto;
                    padding-top: 80px;
                    margin: 80px 80px 80px 80px;
                    border-radius: 50px;
                    background-color: cyan;
                }
                
                .randomBgContainer {
                    transition: background-color 1s ease;
                }
                
                .randomTextColor {
                    transition: color 1s ease;
                }
                /* background-color: #ffa781; color: #5b0e2d; background-color: #5b0e2d; color: #00acee;*/
                
                .inner-container {
                    max-width: 400px;
                    width: 100%;
                    min-height: 200px;
                    height: auto;
                    margin: 10% auto 10% auto;
                    margin-top: 20px;
                    padding: 10px;
                    padding-bottom: 5px;
                    border-radius: 50px;
                    font-style: italic;
                    background-color: cornsilk;
                }
                
                .textquote {
                    margin-top: 20px;
                    text-align: center;
                    font-family: 'Lora', serif;
                    font-style: italic;
                    font-size: 15px;
                    font-weight: bold;
                }
                
                .icon {
                    height: 100px;
                    padding: 15px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-content: center;
                }
                
                button {
                    border-radius: 6px;
                    padding: 10px 50px 10px 50px;
                    font-weight: bold;
                    margin-top: 65px;
                    cursor: pointer;
                    color: #fff;
                    background-color: #ccc;
                }
                
                .randomq {
                    text-align: center;
                    font-style: italic;
                    font-size: 30px;
                    color: cornsilk;
                }
                
                #quoteText {
                    font-size: 25px;
                }
                
                button:hover {
                    opacity: 0.5;
                }
                
                .fa-twitter {
                    font-size: 40px;
                    padding: 5px 5px 0 5px;
                    margin-top: 65px;
                    margin-left: 15px;
                    color: #ccc;
                }
                
                .fa-twitter:hover {
                    opacity: 0.5;
                }
                
                footer {
                    text-align: center;
                }
                /*MOBILE DEVICES */
                
                @media only screen and (max-width: 800px) {
                    body {
                        width: 400px;
                        min-height: 100px;
                    }
                    .main-container {
                        width: 350px;
                        margin-left: 10px;
                        margin-right: 10px;
                        height: 500px;
                    }
                    .inner-container {
                        max-width: 300px;
                        width: 100%;
                        min-height: 200px;
                        margin: 10% auto 10% auto;
                    }
                }